<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.AWS.Logger"/>
  </extensions>
  <targets>
    <target name="console" 
            xsi:type="Console"
            layout="${longdate} | [${level:uppercase=true}] ${callsite:className=True:includeNamespace=False:fileName=False:includeSourcePath=False:methodName=True} | ${message} | ${exception: format=ToString}"/>
    <target name="aws"
            type="AWSTarget"
            region="us-east-1"
            profile="cloudwatch-logger"
            LogGroup="stores-pdc"
            layout="${longdate} | [${level:uppercase=true}] ${callsite:className=True:includeNamespace=False:fileName=False:includeSourcePath=False:methodName=True} | ${message} | ${exception: format=ToString}"
    />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console,aws" />
  </rules>
</nlog>